html {
  background-color:	#101C58;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.025em;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;}

body {
  margin: 30px;}

figure {
    margin-top: 4%;
    margin-bottom: 1%;}

h1:hover {
  color: #040716;}

h1 {
  margin-bottom: 1%;
  font-size: 80px;
  text-align: center;
  font-family: "Bowlby One",sans-serif;
}

h2 {
  margin-top: 12%;
  margin-bottom: 5%;}

a:visited {
  color: white;
}

a:link {
  color: white;
}

li {
  list-style-type: none;
  border-top: solid 1px;
  border-top-color: grey;
  padding: 22px; }

#works {
  margin: auto;
  width: 60%;
  text-align: left; }

#works li {
  display: flex;
  justify-content: space-between;
}
#works li span {
  flex-shrink: 0;
  text-transform: uppercase;
}
#works li a {
  flex-shrink: 1;
  text-align: right;
}


/*background-image: url(Schattenfoto_ausgerichtet.JPG)*/
