@import url('https://fonts.googleapis.com/css?family=Lora|Vollkorn:400,400i');

html {
  background-color: #ffffff;
  color: #0080bf;
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.025em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 30px;
}

figure {
  margin-top: 4%;
  margin-bottom: 1%;
}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
}

h1 {
  margin-bottom: 1%;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 5rem;
}

h3 {
  margin-bottom: 0.8rem;
  margin-top: 0px;
  font-size: 1.8rem;
}

a:visited,
a {
  color: #000000;
}

li {
  list-style-type: none;
  padding: 22px;
}

p {
  font-size: 30px;
  line-height: 150%;
  max-width: 50rem;
  margin-inline: auto;
  color: #856945;
}

#landing {
  height: 60vh;
  color: #0080bf;
}

#landing a:link,
#landing a:visited {
  color: #0080bf;
}

#works {
  color: #856945;
}

#works a:link,
#works a:visited {
  color: #856945;
}

#works li {
  margin-bottom: 3rem;
  text-align: left;
}

#works p {
  text-align: left;
  font-size: 1rem;
}

#works > span {
  font-size: 1rem;
  font-family: 'Lora', serif;
}
