html {
  background-color: black;
  color: white;
  font-family: "Roboto",sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.025em;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;}

body {
  margin: 30px;}

h1:hover {
  color: blue;}

h1 {
  font-size: 80px;
  text-align: center}

li {
  list-style-type: none;
  border-top: solid 1px;
  border-top-color: grey;
  padding: 22px; }

ul {
  float:center;
  width: 60%;
  text-align: left; }

.list {
  text-align: right; }

background-image: url(Schattenfoto_ausgerichtet.JPG)
